
html {
    background-color: #9ABEF8;
    padding: 0px 20px 0px 20px;
}

/*Style the top navigation bar*/
.topnav {
    background-color: #ffffff;
}

/*Style Hamburger Menu*/
.nav-container {
    cursor: pointer;
    float: right;
    padding: 10px;
}

/*Style bars of hamburger menu*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.6s;
}

/*Create rotation in first bar*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

/*Make second bar disapear*/
.change .bar2 {
    opacity: 0;
}

/*Rotate last bar*/
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}

@media (min-width: 768px){
    .nav-container {
        opacity: 0;
        cursor:unset;
    }
}

/*Styling nav links*/
.topnav a {
    float: right;
    color: #000000;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/*Styling nav links on hover*/
.topnav a:hover {
    color: #9ABEF8;
}

body {
    background-color: #ffffff;
    height: 645px;
}

h1 {
    font-size: 32px;
    text-align: center;
    padding: 240px 0px 0px 0px;
}
/*When screen width is 768px or wider, change font size of h1's*/
@media (min-width: 768px){
    h1 {
        font-size: 60px;
    }
}

/*style the text in "typing" div & divs in between*/
#typing {
    text-align: center;
    min-height: 22px;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    background-color: #9ABEF8;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }

    50% {
        background-color: #9ABEF8;
    }
}

#img-container{
    margin: 280px 0px;
}

#github-link{
    float: right;
    margin-right: 5px;
}

#twitter-link{
    float: right;
    margin-right: 10px;
}

#linkedin-link{
    float: right;
    margin-right: 10px;
}

/*Style Img Links on Home Page in lower right corner for when screen size is 768px to 1024px*/
@media (min-width:768px) {
#img-container {
     margin: 240px 0px;
}

 #github-link {
    float:right;
    margin-right: 5px;
}

#twitter-link {
    float:right;
    width: 5%;
}

#linkedin-link {
    float:right;
    width: 5%;
}
}

/*Style Img Links on Home Page in lower right corner for when screen size is 1024px or wider*/
@media (min-width:1024px) {
#img-container {
     margin: 240px 0px;
}

 #github-link {
    float:right;
    margin-right: 5px;
}

#twitter-link {
    float:right;
    width: 3%;
}

#linkedin-link {
    float:right;
    width: 3%;
}
}

/*Style the contact me page for mobile first design*/
.container{
    text-align: center;
    margin: 40px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-size: 22px;
    margin: 50px 0px 0px 0px;
}

#contact-msg{
    font-size: 14px;
}

input[type=text], select, textarea {
    align-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize:none;
}

#message{
    height: 120px;
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=submit] {
    background-color: #E1E2EF;
    color:#05204A;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/*Style contact me page at 768px or wider*/

@media (min-width:768px){
.container {
    text-align: center;
    margin: 30px 180px 180px 180px;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-size: 40px;
    margin: 0px;
}

#contact-msg {
    font-size: 18px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    align-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize:none;
}

#message {
    height: 150px;
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the submit button*/
input[type=submit] {
    background-color: #E1E2EF;
    color:#05204A;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
}
/*When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
    background-color: #BBBEDB;
}
