
html {
    background-color: #9ABEF8;
    padding: 0px 20px 0px 20px;
}

/*Style Nav Links*/
.nav-links a {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links a:hover {
    color: #9ABEF8;
}

/*Style the top navigation bar*/
header {
    background-color: #ffffff;
    width: auto;
    z-index: 3;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

header .nav-links {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .ham-bar {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .ham-bar .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .1s ease-out;
    width: 25px;
}

header .ham-bar .nav-icon:before,
header .ham-bar .nav-icon::after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .ham-bar .nav-icon:before {
    top: 5px;
}

header .ham-bar .nav-icon:after {
    top: -5px;
}

/*Ham menu Button*/
header .menu-btn{
    display: none;
}

header .menu-btn:checked ~ .nav-links{
    max-height: 240px;
}

header .menu-btn:checked ~ .ham-bar .nav-icon {
    background: transparent;
}

header .menu-btn:checked ~ .ham-bar .nav-icon:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .ham-bar .nav-icon:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .ham-bar:not(.steps) .nav-icon:before,
header .menu-btn:checked ~ .ham-bar:not(.steps) .nav-icon:after {
    top: 0;
}
body {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1 {
    font-size: 32px;
    text-align: center;
    padding: 240px 0px 0px 0px;
}

footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

/*When screen width is 768px or wider, change font size of h1's*/
@media (min-width: 768px){
    h1 {
        font-size: 60px;
    }
}

/*style the text in "typing" div & divs in between*/
#typing {
    text-align: center;
    min-height: 22px;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    background-color: #9ABEF8;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }

    50% {
        background-color: #9ABEF8;
    }
}

/*Style the contact me page for mobile first design*/

.label {
    text-align: center;
}

h3{
    font-size: 22px;
    padding-top: 100px;
}

#contact-msg{
    font-size: 14px;
}

.form-val{
    text-align: center;
}

input[type=text], select, textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize:none;
}

#message{
    height: 150px;
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-btn {
    text-align: center;
}
input[type=submit] {
    background-color: #E1E2EF;
    color:#05204A;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

/*Style contact me page at 768px or wider*/

@media (min-width:768px){

h3 {
    font-size: 40px;
    margin: 0px;
}

#contact-msg {
    font-size: 18px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    align-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize:none;
}

#message {
    height: 150px;
}

::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the submit button*/
input[type=submit] {
    background-color: #E1E2EF;
    color:#05204A;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
}
/*When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
    background-color: #BBBEDB;
}