
html {
    border: 20px solid #9ABEF8;
}

/*Style the top navigation bar*/
.topnav {
    background-color: #ffffff;
    overflow: scroll;
}

/*Styling nav links*/
.topnav a {
    float: right;
    display: block;
    text-align: center;
    color: #000000 ;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

/*Styling nav links on hover*/
.topnav a:hover {
    color: #9ABEF8;
}

/*On screens 600px wide or less, make the nav links stack on each other instead of next to each other*/
@media (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

body {
    background-color: #ffffff;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 250px 0px 0px 0px;
}

/*style the text in "typing" div & divs in between*/
#typing {
    text-align: center;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    background-color: #9ABEF8;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }

    50% {
        background-color: #9ABEF8;
    }
}

/*Style Img Links on Home Page*/

    
#img-container {
     margin: 240px 0px;
}

 #github-link {
    float:right;
    padding: 10px;
}

#twitter-link {
    float:right;
    width: 5%;
    padding: 10px;
}

#linkedin-link {
    float:right;
    width: 5%;
    padding: 10px;
}