
/*Style the top navigation bar*/
.topnav {
    background-color: #9ABEF8;
    overflow: scroll;
}

/*Styling nav links*/
.topnav a {
    float: left;
    display: block;
    text-align: center;
    color: #000000 ;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Styling nav links on hover*/
.topnav a:hover {
    color: #ffffff;
}

/*On screens 600px wide or less, make the nav links stack on each other instead of next to each other*/
@media (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/*style the text in "typing" div & divs in between*/
#typing {
    text-align: center;
}

#text {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 2px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }

    50% {
        background-color: #000000
    }
}
